<nav>
    <ul class="nav nav-pills">
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'staff-register' ">Register Staff </a><li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'role-select' %}">Role Selection</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'staff-select' %}">Staff Selection</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'admin-logout' %}">Logout</a></li>
    </ul>
</nav>