<nav>
    <ul class="nav nav-pills">
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'staff_register' ">Register Staff </a><li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'role_select' %}">Role Selection</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'staff_select' %}">Staff Selection</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'account_logout' %}">Logout</a></li>
    </ul>
</nav>