{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
		integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<title>Login</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>

<body>
	<div class="container" id="page-form-container">
		
		<div class="row">
			<div class="col-12 text-center">
				<div id="page-form-header">
					Site Admin Sign In
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 text-center">
				<div class="description">Please enter your credentials below to sign in and track vaccinations at your station.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<form>
					<div class="form-group email-group">
						<label for="input-email" class="description pad-bottom">Email address</label>
						<input type="email" class="form-control input-form" id="input-email" aria-describedby="emailHelp"
							placeholder="Enter email">
					</div>
					<div class="form-group pad-bottom">
						<label for="input-password" class="description pad-bottom">Password</label>
						<input type="password" class="form-control input-form" id="input-form" placeholder="Password">
					</div>
				</form>
			</div>
		</div>

		<div class = "row">
			<div class = "col-12 text-center">
				<div id = "forgot-creds">Forgot Credentials?</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-12 text-center">
				<div class="row justify-content-center m-3 p-3">
					<div class="col-md-3 align-self-center">
							<a href = "/vms/stations/role_select" type="button" id="staff-signIn" class="btn mb-3 form-button" onclick="setUpLoaderUntilSuccess()">Sign In</a>
					</div>
			</div>
			</div>
		</div>
	</div>

</body>

</html>