{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
		integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<title>Role Selection</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>

<body>
	
	<div class="container" id="page-form-container">
		
		<div class="row">
			<div class="col-12 text-center">
				<div id="page-form-header">
					Role Selection
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<div class="description">
					Choose to configure this laptop for staff, or export vaccination data.
				</div>
			</div>
		</div>

		<div class="row" id = "choose-role">
			<div class="col-6 text-center">
				<div class="row justify-content-center">
					<div class="col-md-6 align-self-center">
						<button type="button" id="data-reporting" class="button-decoration btn mb-3 form-button"
							onclick="setUpLoaderUntilSuccess()">Data Reporting</button>
					</div>
				</div>
				<div class = "description-smaller">Export data in a CSV for state reporting.</div>
			</div>
			<div class="col-6 text-center">
				<div class="row justify-content-center">
					<div class="col-md-6 align-self-center">
						<a href = "/vms/stations/staff_select" type="button" id="staff-selection" class="button-decoration btn mb-3 form-button"
							onclick="setUpLoaderUntilSuccess()">Staff Selection</a>
					</div>
				</div>
				<div class = "description-smaller">Transition to mode for staff setup/selection in preparation of vaccination administration.</div>
			</div>
		</div>
	</div>

</body>

</html>