{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
		integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<title>Staff Selection</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
</head>

<body>


	<div class="container" id="page-form-container">

		<div class="row">
			<div class="col-12 text-center">
				<div id="page-form-header">
					Select Station Information
				</div>
			</div>
		</div>


		<form action="/vms/stations/staff_select" method="post" id = "page-form">
			{% csrf_token %}
		<div class="row text-center">
			<div class="col-4">
				<div class="description bold">Station Number</div>

					<!--Administration method-->
					<div class="row m-3">
						<div class="col-md-12">
							<!--Source: https://www.cdc.gov/vaccines/hcp/admin/administer-vaccines.html-->
							<!-- todo: link tables in from backend -->
							<select id="stationNumber" class="form-select">
								<option selected>1A</option>
								<option>2A</option>
								<option>3A</option>
								<option>1B</option>
								<option>2B</option>
							</select>
						</div>
					</div>
					<br />
					<br />

			</div>
			<div class="col-4">
				<div class="description bold">Vaccinator</div>

					<!--Administration method-->
					<div class="row m-3">
						<div class="col-md-12">
							<!--Source: https://www.cdc.gov/vaccines/hcp/admin/administer-vaccines.html-->
							<select name = "vaccinator" id="vaccinator-select" name = "vaccinator" class="form-select">
								{% for person in staff %}
									{% if person.role.role == "V" %}
										<option>{{person.first_name}} {{person.last_name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<br />
					<br />

			</div>
			<div class="col-4">
				<div class="description bold">Support Staff</div>

					<!--Administration method-->
					<div class="row m-3">
						<div class="col-md-12">
							<!--Source: https://www.cdc.gov/vaccines/hcp/admin/administer-vaccines.html-->
							<select name = "staff-member" id="staff-select" class="form-select">
								{% for person in staff %}
									{% if person.role.role == "S" %}
										<option>{{person.first_name}} {{person.last_name}}</option>
									{% endif %}
								{% endfor %}

							</select>
						</div>
					</div>
					<br />
					<br />
			</div>
		</div>


		<div class = "row" id = "continue-main">
			<div class="col-12 text-center">
				<div class="row justify-content-center">
					<div class="col-md-6 align-self-center">


						<!-- note: v. important that button is INSIDE the form -->
						<button  type="submit" id="continue-button" class="button-decoration btn mb-3 form-button"
							onclick="">Continue</button>
							<!-- <input type="submit" value="OK"> -->

					</div>
				</div>
			</div>
		</div>
	</form>
	</div>
	<script>
							// 	function posted(){

		          //   const form = document.getElementById("page-form");

              //   const XHR = new XMLHttpRequest();
              //   const formData = new FormData(form);

							// 	console.log("form being submited is", form)

							// 	form.attributes = "asdf"

              //   // verify visually if form has everything
              //   // for(const pair of formData.entries()) {
              //   //     console.log(pair[0], pair[1]);
              //   // }

              //   // define on success
              //   // XHR.addEventListener( "load", function(event) {
              //   //     loaderButtonRow.style.display = "none";
              //   //     successButtonRow.style.display = "flex";
              //   // });

              //   // // define on error
              //   // XHR.addEventListener( "error", function(event) {
              //   //     loaderButtonRow.style.display = "none";
              //   //     failedButtonRow.style.display = "flex";
              //   // });

              //   //sent the post request
              //   XHR.open("POST", "/vms/stations/staff_select");
              //   XHR.send(formData);

              //   return true;
							// }
	</script>

</body>

</html>